@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

*{ 
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

body{ 
	background-color: black;
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

header a {
	text-decoration: none;
	color: white;
}

header a:hover {
	text-decoration: none;
	color: white;
}

header {
	padding: 0 20px 20px 0px;
	background-color: darkgrereen;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid white;
	z-index: 99999;
}

header img{
	width: 32px;
	height: 32px;
}


#brand { 
 font-weight: bold;
 font-size: 18px;
 display: flex;
 align-items: center; 
 margin: 10px 10px 0px 10px;

}

#brand a{ 
	color: white;
}


ul{
	margin: 10px ;
	list-style: none;
	height:  100%;
	display: flex;
	align-items: center;
	justify-content: space-around;


}

ul a{
	color:white;
}

ul li{
	padding:5px;
	margin-left: 10px;
}

ul li:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.3s; 

}

#hamburger-icon { 
	margin:auto 0;
	display: none;
	cursor: pointer;
}

#hamburger-icon div{ 
	width:35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.open .bar1{ 
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
	opacity: 0;
}

.open .bar3{
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.mobile-menu{
	display: none;
	position: absolute;
	top:50px;
	left:0;
	height: calc(100vh- 50px);
	width: 100%;
	background-color:rgba(50, 50, 50, 0.5);
	z-index: 99999;
}

.mobile-menu img{
	width:  120px;;
	height: 120px;
}




@media only screen and (max-width: 600px){

	header nav{ 
		display: none;
	}
	
	#hamburger-icon{ 
		display: block;
	}

	div.scanlines{
		top: 0;
		text-align: center;
		z-index: 2000;
		pointer-events: none;
		width:100%;
		height:100%;
		position: fixed;
		background-image: url("/images/textures/txt11.png");
		opacity: .1;
		box-shadow: inset 0px 0px 500px lightgrey;
	
	}
	

}



div.scanlines{
	top: 0;
	text-align: center;
	z-index: 2000;
	pointer-events: none;
	width:100%;
	height:100%;
	position: fixed;
	background-image: url("/images/textures/txt11.png");
	opacity: .3;
	box-shadow: inset 0px 0px 500px lightgrey;

}


#parent {
	height: 100%;
	width: 100%;
	position: flex;
	z-index: -1;
	pointer-events: none;
	}

#child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 33%;
	pointer-events: inherit;
	}

	#child img{
		width: 150px;
		height: 150px;
	}

	.MF { 
		text-align: center;
		background-color: white;
		padding: none;
		margin: none;
		border-radius: 3px;
		color: black;
	}

	.canvas {
		width: 100%;
		height: 100%;
		display: none;
	}

iframe{ 
	pointer-events:all; 
	position:absolute; 
	top:0;
	 left:0; 
	 bottom:0; 
	 right:0; 
	 width:100%; 
	 height:100%; 
	 border:none;
	  margin:0; 
	  padding:0; 
	  overflow:hidden; 
	  z-index: -1;
}