@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');


/* SMALL SCREEN */



@media only screen and (max-width: 1000px){

	*{
		font-family: 'Gideon Roman', cursive;
		font-size: 20px;
	}
	

	header nav{ 
		display: none;
	}
	
	#hamburger-icon{ 
		display: block;
	}

#parent {
	
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	text-align: center;
	overflow-y: scroll;
	padding: none;
	margin: none;
	}	

	#container{ 
		opacity: 0;
		height: 100%;
		background-color: black 0;
		overflow-y: scroll;

		background-image: url(/images/textures/txt12.png);

		-webkit-box-shadow: inset 0px 5px 19px 1px rgba(255,255,255,0.5); 
box-shadow: inset 0px 5px 19px 1px rgba(255,255,255,0.5);


		
	} 
	
	.wrapper {
		margin-top: 200px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(auto-flow, 100%);
		grid-auto-flow: row;
		justify-items: center;
		padding: none;
		margin-bottom: 10%;
	  }

	  .wrapper-3 {
		margin-top: 200px;
		width: 100%;
		display: none;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(auto-flow, 100%);
		grid-auto-flow: row;
		justify-items: center;
		padding: none;
		margin-bottom: 10%;
	  }
	  
	  
	  .box {
		
		position: relative;
		margin: none;
		width: auto;
		height: auto;
		text-align: center;
		border-bottom-left-radius: 10%;
		border-bottom-right-radius: 10%;
		transition: .3s;
	  }

	  .hover-menu{ 
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
	background-color: none;
	top: 0;
	transition: .2s;
	
	text-align: left;
	z-index: 100;
  }

 

  .hover-menu i{
	opacity: .3; 
	margin: 10px;
	transition: .2s;
	font-size: 32px;
	
  }

  .hover-menu i:hover{
	opacity: 1; 
	transition: .3s;
  }

  .box:hover .hover-menu{
	display: block;
  }
	
	  .hover-menu{ 
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
	background-color: none;
	top: 0;
	transition: .2s;
	
	text-align: left;
	z-index: 100;
  }

  

  .hover-menu i{
	opacity: .3; 
	margin: 10px;
	transition: .2s;
	font-size: 32px;
	
  }

  .hover-menu i:hover{
	opacity: 1; 
	transition: .3s;
  }

  .box:hover .hover-menu{
	display: block;
  }
	  .box:hover {
		cursor: pointer;
		transition: .3s;
		z-index: 100;	
		
	  }
	
	  .hover-menu{ 
		display: none;
		position: absolute;
		width: 100%;
		height: auto;
		background-color: none;
		top: 0;
		transition: .2s;
		
		text-align: left;
		z-index: 100;
	  }
	
	  .hover-menu button{ 
		font-size:22px;
		color:  white;
		border: 1px solid white;
		margin-top: 75%;
		margin-left: 25%;
		width: 50%;
		height: auto;
		background-color: rgba(109, 109, 109, .5);
	  }
	
	
	
	  .hover-menu:hover{ 
		transition: .3s;
	  }
	
	  .box:hover .hover-menu {
		display: block;
	  }

	  .box:hover .hover-menu img {
		filter: blur(0px);
	  }
	
	  img {
		padding: 10%;
		width:100%;
		height: 100%;
		filter: grayscale(100%);
		
	  }
	
	  #container::-webkit-scrollbar {
		display: none;
	  }
	  
	  /* Hide scrollbar for IE, Edge and Firefox */
	  #container {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	  }

	  #container-2{ 
		position: absolute;
		display: none;
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		
	}
	
	#nav{ 
		position: absolute;
		width: 100%;
		background-color: #282828;
		background-image: url(/images/textures/HEX2.png);
		background-size: 10px;
		height: auto;
		z-index: 999;
	}

	#shopnav {
		width: 100%;
		text-align: center;
		
		}
		
		
		#nav table{ 
			text-align: center;
			width: 100%;
			font-size: 18px;
			margin: none;
		}
		
		#nav td{ 
			padding: 10px;
		}
		
		#nav td:hover{ 
			cursor: pointer;
			background: linear-gradient(0deg, rgba(255,255,255,0.49950419620973385) 0%, rgba(0,0,0,0) 14%);
		}
	
	#navicons{ 
		
		left: 0;
		top: 0;
		margin: 10px;
		width:10%;
		font-size: 8px;
	}
	
	#navicons i{ 
		opacity: .3;
		transition: .3s;
	
	}
	
	#navicons i:hover{ 
		left: 0;
		top: 0;
		opacity: 1;
		cursor: pointer;
		transition: .3s;
	}
	
	#wrapper-2{ 
		top:0;
		left:0;
		position: absolute;
		height: 100%;
		width: 100%;
		margin: 0;
	}
	
	#cardtexture{
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url("./images/textures/txt14.png");
		z-index: 100;
		}
	
	#card{ 
		position: absolute;
		top: 10%;
		width: 100%;
		height: auto;
		text-align: center;
		background-image: url(/images/textures/txt12.png);
		
		
	}
	
	
	
	
	#cardimg { 
		margin-top: -50px;
		width: 100%;
		height: 100%;
		
		
		border-top: 5px inset white;
		-webkit-box-shadow: inset 0px 5px 19px 1px rgba(255,255,255,0.5); 
box-shadow: inset 0px 5px 19px 1px rgba(255,255,255,0.5);
		
	}
	
	#cardimg img{
		width:100%;
		height: 100%;
		
		padding: 10px;
		border-radius: 5px;

		
	}

	#about { 
		
		font-size: 16px;
		text-align: left;
		width: auto;
		margin-top: 50px;
		text-indent: 30px;
		border: 1px solid white;
		border-radius: 5px;
		padding: 5px;
		margin: 5px;
		
		}
	
	#cardimg a{ 
		color: white;
		font-weight: 500;
		padding: 3px;
		

	}

	#cardimg h1{
		font-size: 22px;
	}


	#noti{ 
		display: none;
		position: fixed;
		text-align: center;
		width:  100%;
		height:  100%;
		z-index: 9999;
		background-color: gray;
		background-image: url(/images/textures/HEX.png);
		background-size: 25px;
	}
	
	#notibox{ 
		
		margin-left: 10%;
		margin-top: 10%;
		width: 80%;
		height: 50%;
		border: 1px solid black;
		background-color: #282828;
		background-image: url(/images/textures/hex.png);
		background-size: 50px;
		border: 5px solid #282828;
		border-style: ridge;
		border-radius: 10px;
		padding: 25px;
	
		-webkit-box-shadow: 0px 1px 20px 3px #000000; 
		box-shadow: 0px 1px 20px 3px #000000;
	
	}
	
	
	
	#notibox h1{
		font-weight: 500;
	}
	
	#notibox h5{
		
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		margin: 30px;
		
	}
	
	#notibox span{ 
		font-size: 12px;
	}
	
	#notibox button{ 
		padding: 10px;
		color:  white;
		width: auto;
		
		background:rgba(109, 109, 109, .5);
		border: 1px solid white;
	
		font-size: 33px;
		transition: .3s;
	}
	
	#notibox button:hover { 
		scale: 1.1;
		transition: .3s;
	}
	

}
